{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>
    <div class="mt-6 space-y-6">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusamus amet eaque dicta odit corporis et similique at placeat, delectus incidunt eius repudiandae maxime quibusdam dolores cupiditate, itaque deserunt id.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusamus amet eaque dicta odit corporis et similique at placeat, delectus incidunt eius repudiandae maxime quibusdam dolores cupiditate, itaque deserunt id.
        </p>
    </div>
{% endblock %}